name: Publish Edge Snap

on:
  push:
    branches:
      - master

jobs:
  publish_amd64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        show-progress: ''